:root {
      --red: 1px solid red;
}

@font-face {
      font-family: 'poppins-regular';
      src: url('./fonts/poppins-regular-webfont.woff2') format('woff2'),
           url('./fonts/poppins-regular-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}

* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      list-style-type: none;
      list-style: none;
      font-family: 'poppins-regular', system-ui, sans-serif;
}

body {
      height: 100vh;
      display: grid;
      grid-template: 1fr / minmax(150px, 250px) 1fr;
}

img {
      width: 36px;
      height: 36px;
}

/** ASIDE **/

.user-profile {
      margin-bottom: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
}

.user-profile > p {
      font-size: 1.2rem;
}

.project-label {
      font-size: 1.5rem;
      font-weight: 800;
      padding: 12px 0;
}

.projects-container li {
      font-size: 1.1rem;
      padding: 0.6rem 0;
}

.projects-container > button#create-project-btn{
      background: none;
      text-align: center;
      font-size: 2rem;
      width: 100%;
      padding: 4px 0;
      border: 0;
      border-radius: 4px;
      margin-top: 8px;
      outline: 2px solid #393E46;
      display: inline-block;
      cursor: pointer;
}

button#create-project-btn:hover {
      background: #393E46;
      color: #FF8A08;
      outline: 0px solid #FF8A08;
}

aside { 
      background-color: #FF8A08;
      padding: 24px;
      display: flex;
      flex-direction: column;
}

/** MAIN **/

main { 
      background-color: #393E46;
      text-align: center;
      color: #fff;
      padding: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
}

main > h1#project-x {
      color: #000;
      background-color: #FF8A08;
      width: 100%;
      padding: 1.2rem 0;
      border-radius: 4px;
      display: block;
      position: sticky;
      top: 0;
}

/** TASK **/

div.task-list { 
      width: max(300px, 70%);
}

div.task-container {
      margin-bottom: 36px;
}

/** A. Task Head **/

main .task-list .task-container .task-head{
      background-color: #E72929;
      padding: 16px 24px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
}

.task-head > .task-name {
      font-size: 1.2rem;
      font-weight: 800;
}

.date-container > *{
      display: inline;
}

/** B. Task Body **/
.task-body {
      padding: 24px;
      background-color: #fff;
      color: #000;
      display: none;
      grid-template-columns: 4fr 200px;
      grid-template-rows: 50px 1fr 50px;
}

.task-body > p:first-child {
      text-align: start;
      font-size: 2rem;
      font-weight: 900;
}

.task-body > p:nth-child(2) {
      color: #ff0000;
      font-weight: 600;
      padding-top: 8px
}

.description {
      text-align: start;
      line-height: 18px;
      grid-column: 1 / 3;
}
.task-body > div {
      grid-column: 2 / 3;
      align-self: center;
}

.task-body > div > * {
      display: inline-block;
}

/** C. Dropdown Button **/
.dropdown-btn {
      display: inline-block;
      font-size: 16px;
      background-color: #8b8b8b;
      width: 100%;
      height: 24px;
      padding: 2px 0 10px 0;
      border: none;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      cursor: pointer;
}

.dropdown-btn span {
      display: block;
      cursor: pointer;
}


/** ADD TASK BUTTON **/
button#add-task-btn {
      background: none;
      color:#FF8A08;
      text-align: center;
      font-size: 4rem;
      width: 100%;
      padding: 8.5px 0;
      border: 0;
      border-radius: 25px;
      outline: 2px solid #FF8A08;
      display: inline-block;
      cursor: pointer;
      transition: all 0.2s ease;
}

button#add-task-btn:hover {
      outline: 0;
      color: #393E46;
      background-color: #FF8A08;
}


/** Task Dialog **/
#task-dialog {
   background-color: #393E46;
   border: none;
   border-radius: 6px;
   outline: 10px solid #FF8A08;  
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 999;
}

dialog::backdrop {
      background: rgba(255, 255, 255, 0.22);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(3.7px);
      -webkit-backdrop-filter: blur(3.7px);
}

form#task-input {
      padding: 24px;
      display: grid;
      grid-template-columns: auto 2fr;
      grid-template-rows: 1fr 250px 1fr 1fr 1fr; 
      gap: 12px;   
      align-items: center;
}

form#task-input > textarea {
      color: #fff;
      background: transparent;
      border: 2px solid #FF8A08;
      border-radius: 6px;
      font-size: 1rem;
      width: 300px;
      height: 250px;
      padding: 4px;
      resize: none;
}

label {
      color: #FF8A08;
      font-size: 18px;
      font-weight: 800;
      justify-self: end;
}

input {
      color-scheme: dark;
      color: #fff;
      background: transparent;
      border: 2px solid #FF8A08;
      border-radius: 6px;
      font-size: 1rem;
      padding: 4px;
}

input:focus,  textarea:focus
{
      outline: 1px solid #FF8A08;
}

form#task-input > label[for*="input-description"]{
      margin-top: 4px;
      align-self: start;
}

form#task-input > fieldset {
      border: 2px solid #FF8A08;
      padding: 4px;
      grid-column: 1 / 3;
}

legend {
      color: #FF8A08;
      font-weight: 800;
      padding: 0 6px;
}

form#task-input > fieldset > label {
      margin-right: 8px;
}

dialog > form > div button {
      font-weight: 600;
      padding: 8px 12px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
}

dialog > form > div button:first-of-type {
      color: #fff;
      background-color: #FF8A08;
}

dialog > form > div {
      display: flex;
      gap: 12px;
      justify-content: flex-end;
      align-items: center;
}

label[for*='marginal'] {
      color: #00ff1c;
}

label[for*='moderate'] {
      color: #eeff00;
}

label[for*='critical'] {
      color: #ff3030;
}

/** Project Dialog **/
#project-dialog {
      background-color: #393E46;
      border: none;
      border-radius: 6px;
      outline: 10px solid #FF8A08;  
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 999;
}

form#project-input {
      padding: 24px;
      display: grid;
      grid-template-columns: auto 2fr;
      grid-template-rows: 1fr 1fr; 
      gap: 12px;   
      align-items: center;
}
