:root {
      --red: 1px solid red;
}

@font-face {
      font-family: 'poppins-regular';
      src: url('./fonts/poppins-regular-webfont.woff2') format('woff2'),
           url('./fonts/poppins-regular-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}

* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      list-style-type: none;
      list-style: none;
      font-family: 'poppins-regular', system-ui, sans-serif;
}

body {
      height: 100vh;
      display: grid;
      grid-template: 1fr / minmax(150px, 250px) 1fr;
}

img {
      width: 36px;
      height: 36px;
}

/** ASIDE **/

.user-profile {
      margin-bottom: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
}

.user-profile > p {
      font-size: 1.2rem;
}

.project-label {
      font-size: 1.5rem;
      font-weight: 800;
      padding: 12px 0;
}

.projects-container li {
      font-size: 1.1rem;
      padding: 0.6rem 0;
}

.projects-container > button#new-project{
      background: none;
      text-align: center;
      font-size: 2rem;
      width: 100%;
      padding: 4px 0;
      border: 0;
      border-radius: 4px;
      margin-top: 8px;
      outline: 2px solid #393E46;
      display: inline-block;
      cursor: pointer;
}

button#new-project:hover {
      background: #393E46;
      color: #FF8A08;
      outline: 0px solid #FF8A08;
}

aside { 
      background-color: #FF8A08;
      padding: 24px;
      display: flex;
      flex-direction: column;
}

/** MAIN **/

main { 
      background-color: #393E46;
      text-align: center;
      color: #fff;
      padding: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
}

main > h1#project-x {
      color: #000;
      background-color: #FF8A08;
      width: 100%;
      padding: 1.2rem 0;
      border-radius: 4px;
      display: block;
      position: sticky;
      top: 0;
}

/** TASK **/

div.task-container { 
      width: max(300px, 80%);
}

/** A. Task Head **/

main .task-container .task-head{
      background-color: #E72929;
      padding: 16px 24px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
}

.task-head > .task-name {
      font-size: 1.2rem;
      font-weight: 800;
}

.date-container > *{
      display: inline;
}

.task-container::after {
      content: attr(data-after);
      display: block;
      padding: 4px 0 8px 0;
      font-size: 16px;
      background-color: #8b8b8b;
      height: 18px;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      cursor: pointer;
}


/** B. Task Body **/
.task-body {
      padding: 24px;
      background-color: #fff;
      color: #000;
      display: none;
      grid-template-columns: 4fr 200px;
      grid-template-rows: 50px 1fr 50px;
}

.task-body > p:first-child {
      text-align: start;
      font-size: 2rem;
      font-weight: 900;
}

.task-body > p:nth-child(2) {
      color: #ff0000;
      font-weight: 600;
      padding-top: 8px
}

.description {
      text-align: start;
      line-height: 18px;
      grid-column: 1 / 3;
}
.task-body > div {
      grid-column: 2 / 3;
      align-self: center;
}

.task-body > div > * {
      display: inline-block;
}

