@font-face {
      font-family: 'poppins-regular';
      src: url('./fonts/poppins-regular-webfont.woff2') format('woff2'),
           url('./fonts/poppins-regular-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}

* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      list-style-type: none;
      list-style: none;
}

body{
      
}

